.root{
    -fx-background:#323232;

}

#labelTitle{
-fx-font-size:100;
-fx-font-weight:bold;
-fx-text-fill:#d46520;
-fx-pref-height:120;
-fx-pref-width:220;
-fx-alignment:center;
-fx-text-alignment:center;
}

#labelInstructions{
-fx-font-size:15;
-fx-text-fill:gray;
-fx-text-alignment:center;
-fx-alignment:center;
}

#labelN1{
-fx-font-size:35;
-fx-text-fill:#ff9e61;
-fx-border-style:solid;
-fx-border-width: 3px;
-fx-border-color:#ff9e61;
-fx-pref-height:90;
-fx-pref-width:90;
-fx-alignment:center;
}

#labelN2{
-fx-font-size:35;
-fx-text-fill:#ff7824;
-fx-border-style:solid;
-fx-border-width: 3px;
-fx-border-color:#ff7824;
-fx-pref-height:90;
-fx-pref-width:90;
-fx-alignment:center;
}

#labelN3{
-fx-font-size:35;
-fx-text-fill:#c9672a;
-fx-border-style:solid;
-fx-border-width: 3px;
-fx-border-color:#c9672a;
-fx-pref-height:90;
-fx-pref-width:90;
-fx-alignment:center;
}

#labelN4{
-fx-font-size:35;
-fx-text-fill:#a6480d;
-fx-border-style:solid;
-fx-border-width: 3px;
-fx-border-color:#a6480d;
-fx-pref-height:90;
-fx-pref-width:90;
-fx-alignment:center;
}

#subButton{
-fx-pref-height:40;
-fx-pref-width:47;
-fx-font-size:22;
-fx-text-fill:#ff9e61;
-fx-border-style:solid;
-fx-border-width: 1px;
-fx-border-color:#e0b194;
-fx-alignment:center;
}

#addButton{
-fx-pref-height:40;
-fx-pref-width:47;
-fx-font-size:19;
-fx-text-fill:#d46520;
-fx-border-style:solid;
-fx-border-width: 1px;
-fx-border-color:#e0b194;
-fx-alignment:center;
}

#mulButton{
-fx-pref-height:40;
-fx-pref-width:47;
-fx-font-size:18;
-fx-text-fill:#d46520;
-fx-border-style:solid;
-fx-border-width: 1px;
-fx-border-color:#e0b194;
-fx-alignment:center;
}

#divButton{
-fx-pref-height:40;
-fx-pref-width:47;
-fx-font-size:20;
-fx-text-fill:#ff9e61;
-fx-border-style:solid;
-fx-border-width: 1px;
-fx-border-color:#e0b194;
-fx-alignment:center;
}

#lbracButton{
-fx-pref-height:40;
-fx-pref-width:47;
-fx-font-size:18;
-fx-text-fill:#ff9e61;
-fx-border-style:solid;
-fx-border-width: 1px;
-fx-border-color:#e0b194;
-fx-alignment:center;
}

#rbracButton{
-fx-pref-height:40;
-fx-pref-width:47;
-fx-font-size:18;
-fx-text-fill:#d46520;
-fx-border-style:solid;
-fx-border-width: 1px;
-fx-border-color:#e0b194;
-fx-alignment:center;
}

#dbracButton{
-fx-pref-height:40;
-fx-pref-width:47;
-fx-font-size:18;
-fx-text-fill:#a6480d;
-fx-border-style:solid;
-fx-border-width: 1px;
-fx-border-color:#e0b194;
-fx-alignment:center;
}

#delButton{
-fx-pref-height:40;
-fx-pref-width:50;
-fx-font-size:13;
-fx-text-fill:#a6480d;
-fx-border-style:solid;
-fx-border-width: 1px;
-fx-border-color:#e0b194;
-fx-alignment:center;
}

#clearButton{
-fx-pref-height:40;
-fx-pref-width:50;
-fx-font-size:12;
-fx-text-fill:#a6480d;
-fx-border-style:solid;
-fx-border-width: 1px;
-fx-border-color:#e0b194;
-fx-alignment:center;
}

#controlButton{
-fx-pref-height:40;
-fx-pref-width:187;
-fx-font-size:20;
-fx-text-fill:#e0b194;
-fx-border-style:solid;
-fx-border-width: 3px;
-fx-border-color:#e0b194;
-fx-alignment:center;
}

#labelConsole{
-fx-pref-height:50;
-fx-pref-width:650;
-fx-font-size:20;
-fx-font-weight:bold;
-fx-text-fill:#e0b194;
-fx-text-alignment:center;
-fx-alignment:center;
-fx-min-width:180;
-fx-background-color:#d46520;
-fx-border-style:solid;
-fx-border-width: 0.5px;
-fx-border-color:#e0b194;
}

#labelResult{
-fx-pref-height:40;
-fx-font-size:22;
-fx-font-weight:bold;
-fx-text-fill:gray;
-fx-text-alignment:left;
}

#labelScore{
-fx-pref-height:40;
-fx-font-size:35;
-fx-font-weight:bold;
-fx-text-fill:white;
}

#labelThescore{
-fx-pref-height:40;
-fx-font-size:30;
-fx-font-weight:bold;
-fx-text-fill:white;
}

#labelSeconds{
-fx-pref-height:65;
-fx-font-size:60;
-fx-font-weight:bold;
-fx-text-fill:white;
}

#labelDseconds{
-fx-pref-height:40;
-fx-font-size:21;
-fx-font-weight:bold;
-fx-text-fill:white;
}